@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  background-color: #dbe2e5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
}
