@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background-color: #dbe2e5;
}

body {
  font-family: 'Montserrat', sans-serif;
}
