.content-wrapper {
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
}
.content{
    overflow-y: auto;
    overflow-x: auto;
    /* background-color: #dbe2e5 */
}

.content.modal {
    top: '50%';
    left: '90%';
}
.sidebar-wrapper {
    height: 100%;
    display: flex;
}
@media (min-width: 600px){
    .sidebar-wrapper {
        width: 18vw;
    }
    .content {
        width: 82vw;
    }
}

@media (max-width: 600px){
    .content-wrapper{
        flex-direction: column;
    }
    .sidebar-wrapper {
        max-height: 20vh;
        height: fit-content;
    }
    .content {
        min-height: 70vh;
        width: 100vw;

    }
    .sidebar-wrapper > .sidebar nav ul li {
        padding: 0.5em 0.25em;
    }
}

@media (max-width: 600px) and (max-height: 330px) {
    .content-wrapper {
        height: auto;
    }
    .content {
        height: auto;
    }
  }