.content-wrapper {
    display: flex;
    height: 90vh;
}
.content{
    overflow-y: auto;
    overflow-x: auto;
}
.sidebar-wrapper {
    height: 100%;
    display: flex;
}
@media (min-width: 600px){
    .sidebar-wrapper {
        width: 18vw;
    }
    .content {
        width: 78vw;
    }
}

@media (max-width: 600px){
    .content-wrapper{
        flex-direction: column;
    }
    .sidebar-wrapper {
        height: fit-content;
        max-height: 20vh;
    }
    .content {
        min-height: 70vh;
        width: 100vw;

    }
    .sidebar-wrapper > .sidebar nav ul li {
        padding: 0.5em 0.25em;
    }
}
