.header {
    display: table-row;
    height: 10vh;
    min-height: 75px;
    background-color: #37474F;
    border-bottom: 1px solid white;
}

.header h1 {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    color: #dbe2e5;
    font-weight: 500;
    font-size: 45px;
}
