.labels {
    margin: 20px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.label {
    display: inline-block;
    width: 1fr;
    margin: 6px 2px 0 2px;
    padding: 4px;
    color: white;
    background-color: #c5acbd;
    border-radius: 15px;
    font-size: 14px;
}

.issueCard {
    border: 1px solid #37474F;
    background-color: #fdfefe;
    height: 100%;
    width: 100%;
}



